@import "_nullstyle.scss";


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
}

.content {
  text-align: center;
  margin: 0 0 25% 0;
}

.paragraph {
    margin-bottom: 20px;
}

.intro {
    margin-bottom: 20px;
  }
  
.title {
  
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.description {
  text-align: center;
}

.text__title{
  margin: 5% auto;
}
.features-section,
.reasons-section {
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  width: 50%;
  text-align: left;
}

.features-section {
  margin-right: auto;
}

.reasons-section {
  margin-left: auto;
}

ul.features {
  list-style-type: decimal;
  padding-left: 20px;
}

ul.features li {
  text-align: left;
}

ul.reasons {
  list-style-type: disc;
  padding-left: 20px;
}

ul.reasons li {
  text-align: left;
}